@import url('https://fonts.googleapis.com/css2?family=Righteous&family=Sarala:wght@400;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

body {
  font-size: 80%;
  background: linear-gradient(35.15deg, #000000 16.62%, #554946 85.61%);
}

.cabecalho {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  padding: 24px;
}

#icone {
    font-size: 32px;
    color: #FFF2E7;
}

.cabecalho-menu {
  display: flex;
  gap: 32px;
}

.cabecalho-menu-item {
  font-family: 'Sarala', sans-serif;
  color: #FFF2E7;
  font-weight: 400;
  font-size: 18px
}

.conteudo {
  margin-bottom: 48px;
  border-top: 0.4px solid #FFF2E7;
}

.conteudo-principal {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  width: 96%;

}

.conteudo-principal-escrito {
  display: flex;
  flex-direction: column;
  gap: 28px;
  text-align: center;
}

.conteudo-principal-escrito-titulo {
  font-family: 'Righteous', cursive;
  font-weight: 400;
  font-size: 64px;
  color: #FFF2E7;
}

.conteudo-principal-escrito-subtitulo {
  font-family: 'Sarala', sans-serif;
  font-weight: 400;
  font-size: 24px;
  height: 10px;
  color: #ECD6C4;
}

.conteudo-principal-escrito-botao {
  background-color: #ECD6C4;
  width: 150px;
  height: 50px;
  border: none;
  box-shadow: 4px 5px 4px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
  font-family: 'Sarala', sans-serif;
  font-size: 24px;
  color: #2F2325;
  cursor: pointer;
}

.tecnologias {
  font-family: 'Righteous', cursive;
  font-size: 42px;
  color: #FFF2E7;
}

.conteudo-principal-html5 {
  text-align: center;
  height: 80px;
}


.conteudo-principal-escrito-botao:hover {
  background-color: rgba(236, 214, 196, 0.53);
}

.conteudo-principal-imagem {
    height: 600px;
    margin-top: 18px;
}

.conteudo-secundario {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 20px;
  margin-top: 48px;
  border-top: 0.4px solid #FFF2E7;
}

.conteudo-secundario-titulo {
  padding-top: 36px;
  font-family: 'Righteous', cursive;
  font-weight: 400;
  font-size: 48px;
  color: #FFF2EF;
  margin-bottom: 40px;
}

.conteudo-secundario-paragrafo {
  font-family: 'Sarala', sans-serif;
  font-weight: 300;
  font-size: 18px;
  color: #ECD6C4;
}

.conteudo-secundario-escrito-botao {
  background-color: #ECD6C4;
  width: 150px;
  height: 40px;
  border: none;
  box-shadow: 4px 5px 4px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
  font-family: 'Sarala', sans-serif;
  font-weight: 400;
  font-size: 18px;
  color: #2F2325;
  cursor: pointer;
}

.rodape {
  font-family: 'Sarala', sans-serif;
  font-size: 12px;
  border-top: 0.9px solid #FFF2E7;
  color: #ECD6C4;
  display: flex;
  flex-direction: column;
  align-items: center;
}
  